<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.androidwidgets">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".search_view.SearchView_TollBar"></activity>
        <activity android:name=".search_view.SearchViewActivity" />
        <activity android:name=".prograss_package.Prograss_Bar_Example" />
        <activity android:name=".analog_digital_package.Analog_Digital_Example" />
        <activity android:name=".time_picker_package.Time_Picker_Example" />
        <activity android:name=".date_picker_pakage.Date_Picker_Example" />
        <activity android:name=".seekbar.Seek_Bar_Example" />
        <activity android:name=".webView.WebViewExample" />
        <activity android:name=".ratingBar.RatingBarExample" />
        <activity android:name=".auto_text_Example.AutoTextExample" />
        <activity android:name=".spinerPackage.SpinnerExample" />
        <activity android:name=".alert_dialog_box.WarningExample" />
        <activity android:name=".radioButtonExample.ColourChange" />
        <activity android:name=".Pizza.PizzaExample" />
        <activity android:name=".togglebutton.ToogleButtonExample" />
        <activity android:name=".customToastExample.CustomToastExample" />
        <activity android:name=".WorkingWithButton.Add" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>